{
  "presets": ["es2015", "stage-2", "react"],
  "plugins": [
    ["transform-flow-strip-types"],
    ["transform-regenerator"],
    ["transform-async-to-generator"],
  ],
  "ignore": "node_modules"
}
